<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main-hub.css">
<script src="/js/main-hub.js"></script>
  </head>
  <body>
    <%- include('../includes/nav.ejs')%>
   <h1> Olá, <b>Usuário</b>. <br>
    Aqui você pode ver suas finanças:
   </h1>
   <div class="btn_add">
    <button class="btn" id="btn_gastos" onclick="popupGastos()"><h2>Adicionar gastos</h2></button>
    <button class="btn" onclick="popupGanhos()"><h2>Adicionar ganhos</h2></button>
  </div>
  <div class="form_popup" style="display: none;">
    <form action="/add_gasto" method="POST" class="form">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome">
      <label for="valor">Valor:</label>
      <input type="number" name="valor" id="">
      <label for="data">Data:</label>
      <input type="date" name="data" id="">
      <label for="status" class="select_gastos">Status:</label>
      <select name="status" class="select_gastos">
        <option value="Aberto">Em aberto</option>
        <option value="Vencido">Vencido</option>
        <option value="Pago">Pago</option>
      </select>
      <label for="origem" class="select_ganhos">Origem:</label>
      <select name="origem" class="select_ganhos">
        <option value="Salário">Salário</option>
        <option value="Extra">Hora extra</option>
        <option value="Investimentos">Investimentos</option>
      </select>
      <button class="btn" type="reset" onclick="fecharPopup()"> Voltar</button>
      <button type="submit" class="btn">Add </button>

    </form>
  </div>
    
    <table id="finance_table">
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Status</th>
      </tr>
      <% for (let gastos of tabelaGastos) { %>
      <tr>
        <td><%- gastos.nome %></td>
        <td><%= gastos.valor %></td>
        <td><%= gastos.data %></td>
        <td><%= gastos.status %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
